<% layout('boilerplate') -%>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Contact Us</h3>
                    <p>
                        We’re here to help! Whether you have questions, need guidance, or want to share feedback, don’t
                        hesitate to reach out. At <span style="font-weight: 600;"> StudentGuidance@gmail.com</span>, we
                        value your input and are committed to
                        providing the best support for your academic, career, and personal development journey.
                    </p>
                </div>
                <div class="col">
                    <h3>How to Reach Us</h3>
                    <p>
                        General Inquiries:
                        Have a question about our resources or services? Send us a message, and we’ll get back to you as
                        soon as possible.<br>

                        Email: <span style="font-weight: 600;"> support@StudentGuidance.com</span> <br>
                        Phone: <span style="font-weight: 600;">+91 999999999</span><br>
                        Office Hours: Monday - Friday, 9 AM - 5 PM (EST)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <h3> Get In Touch</h3>
                    <p>
                        We’d love to hear from you! Use the form below to ask a question, request assistance, or give
                        feedback on your experience with our website.

                    <form>
                        <input type="text" class="form-control my-2" placeholder="Name" aria-label="Username"
                            aria-describedby="basic-addon1">
                        <input type="number" class="form-control my-2" placeholder="Phone number" aria-label="Phone"
                            aria-describedby="basic-addon1">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control my-2" placeholder="gmail" aria-label="gmail"
                                aria-describedby="basic-addon1">
                            <span class="input-group-text my-2" id="basic-addon2">@gmail.com</span>
                        </div>

                        <textarea class="form-control" aria-label="With textarea"
                            placeholder="Question, request assistance, or give feedback on your experience with our website"></textarea>
                        <button class="btn my-2 btn-dark">Submit</button>
                    </form>

                    Please include your name, email, and a brief message, and we’ll respond within 24-48 hours.<p></p>
                </div>
                <div class="col mt-5 text-center pt-5">
                    <h3 class="mt-5" >Stay Connected</h3>
                    <p>

                        Keep up with the latest updates, new resources, and events by following us on social media:<br>

                        Instagram: <span style="font-weight: 600;"> StudentGuidance</span><br>
                        whatsapp: <span style="font-weight: 600;"> +91 99999999</span><br>
                        Facebook: <span style="font-weight: 600;"> StudentGuidance</span><br>
                    </p>
                </div>
            </div>
        </div>

    </body>